.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.yellowBack {
  background-color: #dfdf08 !important;
}
.yellowBack:hover {
  background-color: #f6f666 !important;
}
.purpleBack {
  background-color: purple !important;
}
.purpleBack:hover {
  background-color: #bf5fff !important;
}
.greenBack {
  background-color: #2fa525 !important;
}
.greenBack:hover {
  background-color: #1ef00b !important;
}
.grayBack {
  background-color: #888888 !important;
  color: #888888 !important;
}
